@model IEnumerable<EstudianteImage.Models.EstudianteDBEntities>

@{
	ViewBag.Title = "Detalle";
}

<head>
	<style>
		.linkbtnfull {
			background-color: #f44336;
			color: white;
			font-size: medium;
			padding: 14px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}

		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
</head>
@{
	EstudianteImage.Models.EstudianteDBEntities db = new EstudianteImage.Models.EstudianteDBEntities();
}

<body>
	<h2 style="background-color:black; color:white; text-align:center;font-style:oblique">
		Detalle de Estudiantes
	</h2>
	@using (Html.BeginForm())
	{
		<div>
			<table align="center" border="1" cellpadding="4" cellspacing="4">
				<thead>
					<tr>
						<th style="background-color:black">Foto</th>
						<th style="background-color:black">Nombre</th>
						<th style="background-color:black">Apellido</th>
						<th style="background-color:black">Direccion</th>
						<th style="background-color:black">Telefono</th>
						<th style="background-color:black">Cedula</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in db.tblEstudiantes)
					{
						<tr>
							<td>
								<img src="~/Images/@item.ImageUrl" class="img-circle" alt="Kulu" width="100" height="70" />
							</td>
							<td>@item.Nombre</td>
							<td>@item.Apellido</td>
							<td>@item.Direccion</td>
							<td>@item.Telefono</td>
							<td>@item.Cedula</td>
						</tr>
					}
				</tbody>
			</table>

		</div>
	}
		<br />
	<a href="/Home/Estudiantes" class="btn btn-success">Create New</a>
</body>