
@{
	ViewBag.Title = "Estudiantes";
}

<head>
	<style>
		.linkbtnfull {
			background-color: #f44336;
			color: white;
			font-size: medium;
			padding: 14px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}

		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
</head>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post,
	new { enctype = "multipart/form-data" }))
{
	<table>
		<tbody>
			<tr>
				<td style="text-align:center; background-color:black;color:white;font-family:Arial;font-style:oblique;font-size:x-large">
					Registro de Estudiantes
				</td>
			</tr>
			<tr>
				<td> @Html.TextBox("Nombre", "", "", new { placeholder = "Digite su Nombre..." })</td>
			</tr>
			<tr>
				<td> @Html.TextBox("Apellido", "", "", new { placeholder = "Digite su Apellido..." })</td>
			</tr>
			<tr>
				<td> @Html.TextBox("Direccion", "", "", new { placeholder = "Digite su Direccion..." })</td>
			</tr>
			<tr>
				<td> @Html.TextBox("Telefono", "", "", new { placeholder = "Digite su Telefono..." })</td>
			</tr>
			<tr>
				<td> @Html.TextBox("Cedula", "", "", new { placeholder = "Digite su Cedula..." })</td>
			</tr>
			<tr>
				<td> <input type="file" name="file" id="file" class="btn btn-primary" /></td>
			</tr>
			<tr>
				<td>  <input type="submit" class="button button4 btn btn-success" value="Save" />

			</tr>
		</tbody>
	</table>
}
